<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block">
      <!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand d-none d-lg-inline-block m-2" routerLink="/dashboard">Phone Auth</a>

    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
    <ul class="navbar-nav ms-auto flex-nowrap">
      <li class="nav-item">
        <div style="cursor: pointer;" (click)="logout()" class="nav-link m-2 menu-item nav-active">Logout</div>
      </li>
    </ul>
  </div>
</nav>

<h2 class="mt-5">Welcome to the Dashboard user {{userData}} </h2>
