.card {
  border: none;
  padding: 20px;
  background-color: #1c1e21;
  color: #fff
}

.contain{
margin: 10rem 0 3rem 0;
}

.form-input {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px
}

.form-control {
  height: 50px;
  background-color: #dfe7f3;
  text-indent: 24px;
  font-size: 15px
}

.form-control:focus {
  background-color: #25272a;
  box-shadow: none;
  color: #fff;
  border-color: #4f63e7
}

.signup {
  height: 50px;
  font-size: 14px
}
